body {
  margin: 50px;
}

.bottom {
  text-align: left;
  margin: 50px;
}

.top {
  margin: 50px;
}

.section {
  margin: 50px;
}

#logout {
  float: right;
}

/* Equal width */
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* Add gutters */
.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}