body  
{  
    margin: 15%;
    padding: 0;
    background-color:darkolivegreen;
    font-family: 'Arial';
}

.login{
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px;
  background: #C4C4C4;
  border-radius: 15px;
}

h2{
  text-align: center;  
  color: white;  
  padding: 20px;  
}

label{  
  color: black;  
  font-size: 17px;
}

#username{  
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#pw{  
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#log{  
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: #71C56F;
} 

a{  
    float: left;
    font-size: 12px;
}

.bottom {
  text-align: left;
  margin: 50px;
}

.slots {
  
}

#logout {
  float: right;
  background-color: red;
}